<section class="wrapper" ng-init="$ctrl.checkSignIn()">
  <header>
    <div class="banner">
      <div class="nav">
        <a href="#/upload">Upload New Book Data</a>
      </div>
    </div>
    <div class="title-container">
      <h1> ISBN Search Tool </h1>
    </div>
  </header>
  <main>
    <form ng-submit="$ctrl.search($ctrl.searchISBN)">
      <label for="ISBN">Search by ISBN:</label>
      <input type="text" name="ISBN" autocomplete="off" autofocus="true" maxlength="13" placeholder="ISBN" required="true" ng-model="$ctrl.searchISBN">
      <button type="submit" name="button">Search</button>
    </form>
    <article ng-show="$ctrl.showError">
      <div class="return-group">
        <p class="kb-label">You searched this ISBN:</p>
        <p>{{$ctrl.error.searchISBN}}</p>
      </div>
      <div class="return-group">
        <p class="kb-error">No results for that ISBN</p>
      </div>
      <button class="clear-results" type="button" ng-click="$ctrl.clearReturn()">Clear Results</button>
    </article>
    <article ng-show="$ctrl.showReturn">
      <div class="return-group">
        <p class="kb-label">You searched this ISBN:</p>
        <p>{{$ctrl.return[0].searchISBN}}</p>
      </div>
      <div class="return-book" ng-repeat="book in $ctrl.return">
        <div class="book-group">
          <p class="kb-label">Title:</p>
          <p>{{book.title}}</p>
        </div>
        <div class="book-group">
          <p class="kb-label">Author:</p>
          <p>{{book.author}}</p>
        </div>
        <div class="book-group">
          <p class="kb-label">Edition:</p>
          <p>{{book.edition}}</p>
        </div>
        <div class="return-group" ng-show="!book.showUPDF && !book.showPXE">
          <p class="kb-label">No PXE or uPDF ISBN found</p>
          <p>{{book.returnISBN}}</p>
        </div>
        <div class="return-group" ng-show="book.showPXE && !book.showUPDF">
          <p class="kb-label">PXE ISBN:</p>
          <p>{{book.returnISBN}}</p>
        </div>
        <div class="return-group" ng-show="book.showUPDF && !book.showPXE">
          <p class="kb-label">uPDF ISBN:</p>
          <p>{{book.returnISBN}}</p>
        </div>
      </div>
      <button class="clear-results" type="button" ng-click="$ctrl.clearReturn()">Clear Results</button>
    </article>
  </main>
</section>
<footer></footer>
